/* app/globals.css */
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #0f172a;
  --radius: 0.5rem;
  --font-sans: 'Inter', sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --border-radius: var(--radius);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --border-radius: var(--radius);
}

/* Dark mode overrides using the .dark class */
.dark {
  --background: #181818;
  --foreground: #ededed;
}

.dark div aside {
  --background: #1f1f1f;
  --foreground: #ededed;
}

/* Apply styles */
html {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
  -webkit-overflow-scrolling: touch;
} 

body {
  margin: 0;
}



main h1 {
  width: fit-content;
  padding-bottom: 0.2rem;
}


.sidebar-links nav {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.sidebar-menu nav {
  display: flex;
  flex-direction: column;
  margin-left: -12px;
}

.sidebar-menu nav a {
  padding: 6px .75rem;
  border-radius: 6px;
}


@supports (scrollbar-color: oklch(55.2% .016 285.938) oklch(27.4% .006 286.033)) {
  .scroll-color {
    scrollbar-color: oklch(55.2% .016 285.938) oklch(27.4% .006 286.033);
  }
}



.item {
  transform: rotate(5deg);
}

.large {
  margin-top: -1em;
  margin-right: -8em;
}

.small {
  margin-top: 3em;
  margin-left: 15%;
  margin-right: 15%;
}

.polaroid {
  background: #fff;
  padding: 0.5rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  
}
.polaroid > img{
  max-width: 100%;
  height: auto;
}
.caption {
  text-align: center;
  line-height: 2.5em;
  font-family: 'Permanent Marker'
}

.list-disc li {
  padding-bottom: 0.25em;
}